{% extends 'layout.html' %}

{% block content %}

{% load static %}
<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/oswaldo_samuel.png' %}" alt="">
    </div>
    <div class="col-md-8 my-auto">
        <h1> I am <strong> Oswaldo Herrera </strong> </h1>
        <h3>I am an Python FullStack Developer</h3>
        <p>I love programming, I am passionate about developing new innovative projects, implementing new technologies, good practices to optimize all kinds of software development. I like to share my knowledge among colleagues and people who are passionate about the world of programming.</p>
        <a href="{% static 'portfolio/cv-oswaldo-herrera.pdf'%}" class="btn btn-secondary btn-lg rounded-1 my-3" target="_blank">Download CV</a>
    </div>
</header>

<div class="row my-4 text-center">
    <h3>My Projects</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, eveniet!</p>

{% for project in projects %}

<div class="col-md-4 p-4">
    <div class="card bg-black card-project">
        <img src='{{project.image.url}}' alt='{{project.title}}' class="card-img-top rounded-1"/>
        <div class="card-body">
            <h2>{{project.title}}</h2>
            <p> {{project.description}} </p>
            

                {% if project.url %}
                <a href='{{project.url}}' target='_blank' class="btn btn-secondary rounded-0 btn-sm"> {{project.title}}</a>
                {% endif %}
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
</div>






